/* line 1, /Users/benjamintoulemonde/code/Jibenji/julieetfrancis/source/stylesheets/pages/iledyeu.css.scss */
.photo-yeu {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 1.5em; }
