.voyage-list {
  list-style-type: none;
  text-align: left;
}

.padded-left {
  padding-left: 30px;
}

.underline {
  border-bottom: solid orange;
}

.tab-content h3 {
  padding-bottom: 20px;
  color: green;
}

.tab-content h4 {
  padding-bottom: 10px;
}

#fromentine-map img {
  height: 300px;
  border-radius: 5px;
  box-shadow: solid black 1px;
}

@media only screen and (max-width: 500px) {
    #fromentine-map img {
        width: 100%;
        height: 250px;
    }
}
