<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li class="fa fa-facebook"></li>
          <li class="fa fa-instagram"></li>
          <li class="fa fa-phone"></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>Julie et François 2018</p>
      </div>
    </div>
  </div>
</div>
