---
title: Julie et François / Ile d'Yeu 2018
---

<div class="tabs-2">
  <div class="tab-2" data-target=".velos-tab">
    <h3>Locations Vélos/Voitures</h3>
  </div>
  <div class="tab-2 active" data-target=".contacts-tab">
    <h3>Contacts</h3>
  </div>
</div>

<div class="tabs2-target">
  <div class="tab-content velos-tab hidden">
    <h3>Le vélo est le meilleur moyen de se déplacer sur l'île. Il existe de nombreux loueurs :</h3>
    <ul>
      <li>Auto Bécane (vélos et voitures) <%= link_to "Site", "http://autobecane.fr/" , target: :blank, class: "lien" %> (20% sur les vélos) (02 51 58 70 42)</li>
      <li></li>
      <li>Véloya (02 51 58 56 86)</li>
      <li>Trottinette (02 51 58 31 06)</li>
      <li>Vélo Promn'ade (02 51 58 43 22)</li>
      <li>La Clinique du Vélo (02 51 58 73 67)</li>
      <li>Bi-Clown (02 51 58 70 77)</li>
      <li>La Roue Libre (02 51 59 20 70)</li>
    </ul>
    <h3>Pour ceux qui préfèrent la voiture, vous pourrez aussi en trouver. Par contre, il est nécessaire de réserver à l'avance :</h3>
    <ul>
      <li>Voiture Cantin (02 51 58 48 00)</li>
      <li>Auto-Bécane (02 51 58 70 42)</li>
      <li>Autos Cantin (02 51 58 33 80)</li>
      <li>Garage Insulaire (02 51 58 52 62)</li>
      <li>Garage Charuau (02 51 58 72 41)</li>
    </ul>
    <h3>Vous pouvez aussi faire appel à l'un des deux taxis de l'île :</h3>
    <ul>
      <li>Taxi Joinville (06 07 68 53 96)</li>
      <li>Taxi Islais (06 11 28 54 07)</li>
    </ul>
  </div>


  <div class="tab-content contacts-tab">
    <ul>
      <li>Catherine Toulemonde</li>
      <li> <%= mail_to "catherine.toulemonde@orange.fr", "catherine.toulemonde@orange.fr" %></li>
      <p></p>
      <li>Véronique Ravel d’Estienne</li>
      <li> <%= mail_to "veroniqueraveldestienne@hotmail.com", "veroniqueraveldestienne@hotmail.com" %></li>
      <p></p>
      <li>François et Julie</li>
      <li> <%= mail_to "Fetj19052018@gmail.com", "Fetj19052018@gmail.com" %></li>
    </ul>
  </div>
</div>






