---
title: Julie et François / Ile d'Yeu 2018
---

<div class="container">
  <h3></h3>
  <p>Chères familles, chers amis, vous nous gâtez déjà depuis des années pqr votre amitié et votre présence à nos côtés mais si vous souhaitez en plus nous aider à nous lancer dans notre vie à deux, voici le lien de notre liste de mariage:</p>

  <%= link_to "Liste de Mariage", "http://www.millemercismariage.com/fetj19052018/liste.html", target: :blank, class: "lien"  %>
</div>
